{% load static %}
			<div class="header_div">
				<div class="image_div">
					<img src='{% static "images/logo_Ansys.jpg" %}'/>
				</div>
				<div class="title_div">
					<h1>Cluster Job Tracking Utility Interface </h1>
				</div>
				<div class="ul_div">
					<ul class="ul_nav">
						<li class="nav-item"><a href="{% url link_url %}" class="nav-link">{{ link_str }}</a></li>
<!--						<li class="nav-item"><a href="#" class="nav-link">Logout</a></li>-->
					</ul>
				</div>
				<hr>
			</div>

